*{
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    justify-content: space-around;
   align-items: center;
    list-style-type: none;
    font-size: 2rem;
    height: 100%;
}
header{
    background-color: blue;

    height: 80px;
}